.lead__pic {
  display: block;
  margin-top: 48px;
  max-width: 100%;
}

@media screen and (min-width: 767px) {
  .lead__pic {
    padding-top: 58px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1023px) {
  .lead__pic {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1279px) {
  .lead__pic {
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
  }
}
