.photo-grid {
  max-width: 90%;
  padding: 64px 0 0px;
  margin-left: 16px;
  margin-right: 16px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

@media screen and (min-width: 767px) {
  .photo-grid {
    padding-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
    gap: 16px;
    max-width: 93.75%;
  }
}

@media screen and (min-width: 1023px) {
  .photo-grid {
    padding-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
    gap: 14px;
    max-width: 90.625%;
  }
}

@media screen and (min-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 92.6%;
  }
}
