.header__link-lang {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  transform: opacity 0.5s easy;
}

.header__link-lang:hover {
  opacity: 0.8;
}

@media screen and (min-width: 767px) {
  .header__link-lang {
    font-size: 24px;
  }
}
