.header {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 0;
  width: 90%;
}

@media screen and (min-width: 767px) {
  .header {
    margin: 28px auto 0;
    width: 96%;
  }
}

@media screen and (min-width: 1023px) {
  .header {
    width: 93%;
  }
}

@media screen and (min-width: 1279px) {
  .header {
    width: 95%;
  }
}
