.lead__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  margin: 48px auto 0;
  padding: 0;
  max-width: 90%;
}

@media screen and (min-width: 767px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
  }
}

@media screen and (min-width: 1023px) {
  .lead__title {
    max-width: 70.38%;
  }
}

@media screen and (min-width: 1279px) {
  .lead__title {
    max-width: 56.25%;
    margin-top: 56px;
  }
}
