.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 32px;
}

@media screen and (min-width: 767px) {
  .footer__links {
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
  }
}

@media screen and (min-width: 1023px) {
  .footer__links {
    gap: 21px;
  }
}
