.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  margin-top: 12px;
  display: block;
  transform: opacity 0.5s easy;
  display: inline-block;
}

.place__link:hover {
  opacity: 0.8;
}
